<%- include('../partials/header'); %>
    <%- include('../partials/logout3'); %> 
    <!DOCTYPE html>
    <html>
      <head>
        <title>main</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://unpkg.com/alpinejs/dist/cdn.min.js" defer></script>
      </head>
      <style>
        .contenidoo{
            width:80%;
            margin:auto;
        }
            .colorboton{
                background:rgba(182, 7, 7, 0.72); 
                border-radius: 8px!important;
            }
     </style>
    <body> 
    <main x-data="{  open: false }">
        <div class="relative md:ml-64 bg-blueGray-50">
            <div class="relative bg-red-700 md:pt-11 pb-10 pt-10 mx-auto">
                <h1 class="text-left pt-0 font-bold text-lg p-4 font-size:20vw text-white"><b>inscripcion</b> </h1>
    
                
        <div class="flex items-center px-6 py-4 overflow-y-auto whitespace-nowrap">
            <a href="#" class=" text-white dark:text-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
            </a>
    
            <span class="mx-5  text-white dark:text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </span>
    
            <a href="/main" class=" text-white dark:text-gray-200 hover:underline">
                Home
            </a>
    
    
            <span class="mx-5  text-white dark:text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </span>
    
            <a href="#" class="text-slate-300 dark:text-slate-200 hover:underline hover:text-white">
              inscripcion
            </a>
        </div>
    
        
              
                      
               
                       
                        
                        <div class=' container inline-flex items-start justify-start min-h-screen p-10 ml-20px  from-slate-300 via-slate-400 to-slate-500 bg-gradient-to-br'>
                            <div class=' container overflow-auto w-full max-w-full px-10 py-8 mx-auto bg-white rounded-lg shadow-zinc-200'>
        
    <!--empiezaa otrooo-->
        
          
            
           
                        
                <div class=" contenidoo flex ">
           
                    <div class="otross mx-auto">
                        
                       
            
                                <div class=" flex mt-8">
                                            
                                                <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                01
                                                </div>
                                                <div class="flex-initial w-64 ...">
                                                    <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                    </div>
                                                    <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                        Inscripcion al evento 
                                                    </div>
            
                                                        <div class="botonnn flex items-center justify-center mt-2 ">
                                                        <a href="/inscripcion"
                                                        class=" colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                        >
                                                        Inscribirse 
                                                        </a>
                                                        </div>
                                                </div>
            
                                            
                                                <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                02
                                                </div>
                                                <div class="flex-initial w-64 ...">
                                                    <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                    </div>
                                                    <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                        Inscripcion al evento 
                                                    </div>
            
                                                        <div class="botonnn flex items-center justify-center mt-2">
                                                        <a href="/inscripcion"
                                                        class="colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                        >
                                                        Inscribirse 
                                                        </a>
                                                        </div>
                                                </div>
            
                                           
                                        
                                  </div>
            
            
            
            
                    
                                        <div class=" flex mt-8">
                                                    
                                                        <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                        03
                                                        </div>
                                                        <div class="flex-initial w-64 ...">
                                                            <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                            </div>
                                                            <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                Inscripcion al evento 
                                                            </div>
                    
                                                                <div class="botonnn flex items-center justify-center mt-2 ">
                                                                <a href="/inscripcion"
                                                                class="colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                                >
                                                                Inscribirse 
                                                                </a>
                                                                </div>
                                                        </div>
                    
                                                    
                                                        <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                        04
                                                        </div>
                                                        <div class="flex-initial w-64 ...">
                                                            <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                            </div>
                                                            <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                Inscripcion al evento 
                                                            </div>
                    
                                                                <div class="botonnn flex items-center justify-center mt-2 ">
                                                                <a href="/inscripcion"
                                                                class="colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                                >
                                                                Inscribirse 
                                                                </a>
                                                                </div>
                                                        </div>
                    
                                                   
                                                
                                          </div>
            
            
            
            
                            
                                                <div class=" flex mt-8">
                                                            
                                                                <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                05
                                                                </div>
                                                                <div class="flex-initial w-64 ...">
                                                                    <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                                    </div>
                                                                    <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                        Inscripcion al evento 
                                                                    </div>
                            
                                                                        <div class="botonnn flex items-center justify-center mt-2 ">
                                                                        <a href="/inscripcion"
                                                                        class="colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                                        >
                                                                        Inscribirse 
                                                                        </a>
                                                                        </div>
                                                                </div>
                            
                                                            
                                                                <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                06
                                                                </div>
                                                                <div class="flex-initial w-64 ...">
                                                                    <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                                    </div>
                                                                    <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                        Inscripcion al evento 
                                                                    </div>
                            
                                                                        <div class="botonnn flex items-center justify-center mt-2 ">
                                                                        <a href="/inscripcion"
                                                                        class="colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                                        >
                                                                        Inscribirse 
                                                                        </a>
                                                                        </div>
                                                                </div>
                            
                                                           
                                                        
                                                  </div>
            
            
            
            
                                    
                                                        <div class=" flex mt-8">
                                                                    
                                                                        <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                        07
                                                                        </div>
                                                                        <div class="flex-initial w-64 ...">
                                                                            <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                                            </div>
                                                                            <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                                Inscripcion al evento 
                                                                            </div>
                                    
                                                                                <div class="botonnn flex items-center justify-center mt-2 ">
                                                                                <a href="/inscripcion"
                                                                                class=" colorboton hover:shadow-form rounded-md   py-3 px-8 text-base font-semibold text-white outline-none "
                                                                                >
                                                                                Inscribirse 
                                                                                </a>
                                                                                </div>
                                                                        </div>
                                    
                                                                    
                                                                        <div class="flex-none w-14 h-14 text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                        08
                                                                        </div>
                                                                        <div class="flex-initial w-64 ...">
                                                                            <div class="imagenn"><img src="images/eventoscip.png" alt="">
                                                                            </div>
                                                                            <div class=" flex justify-center text-blue-600 font-bold subpixel-antialiased text-2xl  ">
                                                                                Inscripcion al evento 
                                                                            </div>
                                    
                                                                                <div class="botonnn flex items-center justify-center mt-2 ">
                                                                                <a href="/inscripcion"
                                                                                class="colorboton hover:shadow-form rounded-md  py-3 px-8 text-base font-semibold text-white outline-none "
                                                                                >
                                                                                Inscribirse 
                                                                                </a>
                                                                                </div>
                                                                        </div>
                                     </div>        
                    
                     </div>            
                    </div>  
     
        
        </div>
    </main>
    
<%- include('../partials/footer'); %>

</body>
</html>




 
  